################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Skilly.API
/Skilly.API/bin/Debug/net8.0
/.vs/ProjectEvaluation
bin/
obj/
.vs/
.idea/
*.user
*.suo

/Skilly.Application/obj/Debug/net8.0/Skilly.Application.AssemblyInfoInputs.cache
/Skilly.API/.config
/Skilly.API/wwwroot/Images/ServiceProvider/MyServices
/Skilly.API/wwwroot/Images/UserProfile
/Skilly.API/Configs/firebase.json
/Skilly.API/Configs/firebase-service-account.json
/Skilly.API/Configs/firebase-service-account.json
/Skilly.API/Configs/firebase-service-account.json
