################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Skilly.API
/Skilly.API/bin/Debug/net8.0
/.vs/ProjectEvaluation
